.choiseTicket-bottom{
    height:60px;
    border-radius:3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:#090909;
    position:fixed;
    bottom: 5px;
    left: 15px;
    right: 15px;
}

.choiseTicket-bottom span{
    font-size: 18px;
    color: #E0C675;
    align-items: center;
    justify-content: center;
}