footer{
    position:fixed;
    bottom: 0;
    width:100%;
    background-color: #ffffff !important;
    z-index: 9999;
}

footer a{
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    height: 48px;
    width: 70%;
    padding-left: 30%;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #D1BC91;
    background: #161718;
    opacity: 0.9;
    background-image: url('http://h5.deshpro.com/static/images/footerImg.png');
    background-repeat: no-repeat;
    background-position: 26px center;
    background-size: 230px 25px;
    text-decoration: none;

}
footer a span{
    float:right;
    width: 65px;
    height: 28px;
    line-height: 28px;
    font-size: 13px;
    text-align: center;
    margin: 8.5px 25px 0 0;
    border: 1px solid #D1BC91;
    color: #D1BC91;
    border-radius: 2px;
}