.ticket{
    margin-bottom: 55px;
}
.title{
    font-size: 18px;
    color: #444444;
    margin-top: 20px;
    font-family: PingFangSC-Medium;
}
.logo img{
    width:100%;
    height:220px;
}
.ticket-name{
    display: flex;
    margin-left: 17px;
}
.ticket-prize{
    display: flex;
    flex-direction: column;
    margin-left: 17px;
    margin-top: 10px;
}
.ticket-prize span{
    font-size: 14px;
    color: #666666;
}
.ticket-prize span span{
    font-size: 16px;
    color: red;
}
.returnIcon{
    position:absolute;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.returnIcon img{
    height: 21px;
    width: 15px;
}
